!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!/gradle/wrapper/gradle-wrapper.jar
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!src/**/build/
**/build/
**/xcshareddata/WorkspaceSettings.xcsettings
*.aab
*.apk
*.ap_
*.class
*.ctxt
*.dex
*.dSYM
*.dSYM.zip
*.ear
*.hmap
*.hprof
*.iml
*.ipa
*.ipr
*.iws
*.jar
*.jks
*.keystore
*.log
*.mode1v3
*.mode2v3
*.moved-aside
*.nar
*.pbxuser
*.perspectivev3
*.rar
*.swp
*.tar.gz
*.war
*.xccheckout
*.xcodeproj
*.xcodeproj/*
*.xcscmblueprint
*.zip
*~
.accio/
.build/
.classpath
.cproject
.cxx
.cxx/
.DS_Store
.externalNativeBuild
.externalNativeBuild/
.gradle
.gradle/
.idea
.idea/
.idea/.name
.idea/assetWizardSettings.xml
.idea/caches/
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dataSources.ids
.idea/datasources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/jsLibraryMappings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/mongoSettings.xml
.idea/navEditor.xml
.idea/scopes/scope_settings.xml
.idea/shelf/
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea_modules/
.kotlin
.mtj.tmp/
.navigation/
.project
.settings/
.signing/
/*.gcno
/*/*/build
/*/*/production
/*/build/
/*/local.properties
/*/out
/out/
atlassian-ide-plugin.xml
bin/
build/
captures
captures/
Carthage/Build/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
Dependencies/
deploymentTargetDropDown.xml
DerivedData/
fabric.properties
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
gen-external-apklibs
gen/
google-services.json
hs_err_pid*
iOSInjectionProject/
local.properties
misc.xml
obj/
out/
output.json
Packages
playground.xcworkspace
proguard/
render.experimental.xml
replay_pid*
timeline.xctimeline
xcuserdata
xcuserdata/