!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!/gradle/wrapper/gradle-wrapper.jar
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!src/**/build/
*$py.class
**/build/
**/xcshareddata/WorkspaceSettings.xcsettings
*.aab
*.apk
*.ap_
*.class
*.cover
*.ctxt
*.dex
*.dSYM
*.dSYM.zip
*.ear
*.egg
*.egg-info/
*.hmap
*.hprof
*.iml
*.ipa
*.ipr
*.iws
*.jar
*.jks
*.keystore
*.log
*.manifest
*.mo
*.mode1v3
*.mode2v3
*.moved-aside
*.nar
*.pbxuser
*.perspectivev3
*.pot
*.py,cover
*.py[cod]
*.rar
*.sage.py
*.so
*.spec
*.swp
*.tar.gz
*.war
*.xccheckout
*.xcodeproj
*.xcodeproj/*
*.xcscmblueprint
*.zip
*~
.accio/
.build/
.cache
.classpath
.coverage
.coverage.*
.cproject
.cxx
.cxx/
.dmypy.json
.DS_Store
.eggs/
.env
.externalNativeBuild
.externalNativeBuild/
.gradle
.gradle/
.hypothesis/
.idea
.idea/
.idea/.name
.idea/assetWizardSettings.xml
.idea/caches/
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dataSources.ids
.idea/datasources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/jsLibraryMappings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/mongoSettings.xml
.idea/navEditor.xml
.idea/scopes/scope_settings.xml
.idea/shelf/
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.kotlin
.mtj.tmp/
.mypy_cache/
.navigation/
.nox/
.pdm.toml
.project
.pybuilder/
.pyre/
.pytest_cache/
.Python
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.settings/
.signing/
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
/*.gcno
/*/*/build
/*/*/production
/*/build/
/*/local.properties
/*/out
/out/
/site
atlassian-ide-plugin.xml
bin/
build/
captures
captures/
Carthage/Build/
celerybeat-schedule
celerybeat.pid
com_crashlytics_export_strings.xml
cover/
coverage.xml
crashlytics-build.properties
crashlytics.properties
cython_debug/
db.sqlite3
db.sqlite3-journal
Dependencies/
deploymentTargetDropDown.xml
DerivedData/
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
fabric.properties
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
gen-external-apklibs
gen/
google-services.json
hs_err_pid*
htmlcov/
instance/
iOSInjectionProject/
ipython_config.py
lib/
lib64/
local.properties
local_settings.py
MANIFEST
misc.xml
nosetests.xml
obj/
out/
output.json
Packages
parts/
pdm.lock
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
Pipfile.lock
playground.xcworkspace
poetry.lock
poetry.toml
profile_default/
proguard/
pyrightconfig.json
pyvenv.cfg
render.experimental.xml
replay_pid*
sdist/
share/python-wheels/
target/
timeline.xctimeline
var/
venv.bak/
venv/
wheels/
xcuserdata
xcuserdata/
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
__pycache__/
__pypackages__/